/* css reset  */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    font-family: 'Poppins', sans-serif;
}


/* utlity class  */
.flexbox{
    display: flex;
    margin-bottom: 150px;
}
.orange-color{
    color: orange;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
/* Top Bannner section  */
.top-banner{
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
}

.half-width{
    width: 50%;
    margin-left: 2%;
}
.half-width h1{
    font-weight: 700;
    margin-top: 42px;
    margin-bottom: 42px;
}
.half-width img{
    width: 80%;
}
.half-width p{
    margin-top: 19px;
    margin-bottom: 16px;
}

.half-width .link-btn{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

/* 2nd section  */
/* dream-big section  */

.dream-big{
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.half-width .DB-para{
    margin-top: 33px;
}

/* experience section  */
.experience{
    background: url(./images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience h1{
    margin-bottom: 42px;
    margin-top: 42px;
}
#full-stack-experience{
    border-left: 7px solid;
    border-image: linear-gradient(purple,tomato);
    border-image-slice: 1;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    box-shadow: 10px 10px 40px grey;
    padding-left: 20px;
}

.experience-item h2{
    margin: 34px 0;
}
.experience-item h3{
    margin: 19px 0;
}
.experience p{
    margin: 16px 0;
}

#web-dev-experience{
    border-left: 7px solid ;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}